<form {% for attr,value in form.attr %} {{ attr }}="{{ value }}" {% endfor %}>
    {% if form.title %}
        {% if form.title.row %}<div {% for attr,value in form.title.row %}{{ attr }}="{{ value }}"{% endfor %}>{% endif %}
            {% if form.title.column %}<div {% for attr,value in form.title.column %} {{ attr }}="{{ value }}"{% endfor %}>{% endif %}
                <h1>{{ form.title.title }}</h1>
            {% if form.title.column %}</div>{% endif %}
        {% if form.title.row %}</div>{% endif %}
    {% endif %}
    {% if form.field. %}

    {% endif %}
</form>